$si-default: 16px 16px 16px 16px;
$si-xs: 4px 4px 4px 4px;
$si-s: 8px 8px 8px 8px;
$si-m: 16px 16px 16px 16px;
$si-l: 32px 32px 32px 32px;
$si-xl: 64px 64px 64px 64px;
$ss-default: 0 0 16px 0;
$ss-xs: 0 0 4px 0;
$ss-s: 0 0 8px 0;
$ss-m: 0 0 16px 0;
$ss-l: 0 0 32px 0;
$ss-xl: 0 0 64px 0;
$sx-default: 0 16px;
$sx-xs: 0 4px;
$sx-s: 0 8px;
$sx-m: 0 16px;
$sx-l: 0 32px;
$sx-xl: 0 64px;
$space-default: 16px;
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;
